*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#60575c, #192a55);
    width: 100%;
    height: 100vh;
    font-family: 'PT Sans Narrow', sans-serif;
}

.main {
    margin: 4rem auto;
    background: white;
    width: 300px;
    height: 580px;
    object-fit: cover;
    padding: 0.8rem;
    border: 1px solid #daa001;
}

.main .border {
    border: 1px solid #daa001;
    margin: 0 auto;
    text-align: justify;
    padding: 0.5rem;
    font-size: 1rem;
    list-style: none;
    border-radius: 5%;
}

.main .size {
    background-image: url(images/faris-mohammed-JS-pnMi5cdA-unsplash.jpg);
    height: 210px;
    background-size: cover;
    background-position: center;
    margin: 0.8rem 0;
}
.main h2, p, ul {
    padding: 0.3rem;
    list-style-type: none;
}
.main .border span {
    font-weight: bold;
}
.main h2 {
    font-size: 1.2rem !important;
    text-align: center;
}
.main div:first-child{
    border-radius: 0% !important;
    padding: 0;
}
